.map-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 4rem; /* top margin removed */
  border: 2px solid #d1d5db;
  border-radius: 16px;
  overflow: hidden;
  background-color: white;
}

/* Used for map on listing page only */
.map-wrapper.map-no-heading {
  margin-top: 0;
  border: none;
  background-color: transparent;
  padding-top: 0;
}

/* Optional: tighter spacing on listing page */
.listing-map-wrapper {
  padding-top: 0;
  margin-top: 0;
}



.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  background-color: rgba(225, 29, 72, 0.7);
  color: white;
  font-weight: bold;
  border: 2px solid white;
}

.map-heading {
  font-size: 1.75rem;
  font-weight: 700;
  color: #be123c;
  text-align: center;
  margin: 1.5rem 0 1rem; /* Adjusted spacing */
}


